.logo_size {
    width: 20vw;
}
.header-tel {
    text-decoration: none;
    color: black;
}
.carousel-caption {
    top: 0;
}
.about_company {
    background-image: url("../img/about_bg_img.jpg");
    background-repeat: no-repeat;
    font-size: 1.5rem;
    color: white;
    padding: 5rem 3rem 5rem;
}